/* ----------- General ------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    width: 100%;
    height: 100%;
}


#root, .app,.wrapper{
    width: 100%;
    height: 100%;
}   

.app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}


/* ----------- logined header ------------------------------------ */
.loginedHeader{
    background: linear-gradient( #1845ad, #23a2f6 );
    margin-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.loginedHeader *{
    letter-spacing: 0.7px;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}



.loginedMenu .menu-item{
    text-decoration: none;
    display: inline-block;
}


.loginedMenu .menu-item:first-letter {
    text-transform: uppercase;
  }

  .loginedHeader{
    display: flex;
    justify-content: space-between;
    padding:25px;
    padding-left: 30px;
    padding-right: 30px;
}

.loginedHeader .logo{
    font-weight: 900;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}


.info-bar .logout::before{
    left: 0px;
    top:0px;
    display: block;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-image: url("../imgs/logout.png");
}

.info-bar .logout{
    margin-left: 15px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
/* ----------- Login ------------------------------------ */

.login-content{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 25px;
}


.loginBox{
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(10px);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 0 40px rgba(8,7,16,0.6);

}
.login-content * {
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.7px;
    outline: none;
    border: none;
}

.login-content>h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.status{
    color: red;
    margin-top: 25px;
    font-size: 25px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}

.login-content label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}


.login-content>input{
        display: block;
        height: 50px;
        width: 100%;
        box-sizing: border-box;
        background-color: rgba(255,255,255,0.07);
        border-radius: 3px;
        padding: 0 10px;
        margin-top: 8px;
        font-size: 14px;
        font-weight: 300;
}

.login-btn {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff4d;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 7px rgba(8,7,16,0.6);
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.shape:first-child {
    background: linear-gradient( #1845ad, #23a2f6 );
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient( to right, #ff512f, #f09819 );
    right: -30px;
    bottom: -80px;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

/* ----------- Dashboard ------------------------------------ */



.menu-item{
    margin-left:15px;
    margin-right: 15px;
    }

.mentorsControl{
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

/* ----------- Table ------------------------------------ */


table{
    border-radius: 15px 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
}

thead{
    background: #6c7ae0;

}

thead tr th {
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    vertical-align: middle;
}


tbody tr {
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    border-bottom: 1px solid #6c7ae054;
    border-left: 25px solid white;
    border-right: 25px solid white;
}

tbody td{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    color: #666;
    vertical-align: middle;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

tbody td a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    color: #666;
    vertical-align: middle;
}

tbody tr td:nth-child(1) input{
    margin-bottom: 5px;
}

tbody td input{
    background-color: transparent;
    width: 100%;
    border-radius: 0;
    border: none;
    font-size: 16px;
    position: relative; 
    text-align: center;   
}

tbody tr td:nth-child(4),tbody tr td:nth-child(4) input{
    cursor: pointer;
    position: relative;
}

tbody tr td:nth-child(4):after{
    content: "";
    width: 15px;
    height: 2px;
    background: #0066ff;
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    margin-left: -6px;

}

input:not([disabled]) {
    border: 1px solid #0066ff;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    background-color: #0066ff14;
    margin-right: 5px;
  }

tbody .workerInput:after{
    content: "";
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: red;
    display: block;
}

/* ----------- mentorsControl ------------------------------------ */

.mentorsControl button{
    align-items: center;
    background-color: rgb(32 137 227);
    border: 2px solid rgb(32 137 227);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;

}


/* ----------- Filter ------------------------------------ */


.buttonsControll button{
    align-items: center;
    background-color: rgb(227 211 32 / 60%);
    border: 2px solid rgb(32 137 227);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 100%;
}

.filter{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
}

.date-filter{
    margin-right: 25px;
}

.filter input[type="date"]{
    background-color: #0080ff;
    padding: 5px;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    margin-right: 15px;
    margin-left: 0px;
}


.filter input[type="date"]:last-child{
    margin-right: 0px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}



.city-filter{
    margin-right: 15px;
}

.city{
    padding: 5px;
    height: 100%;
    border: none;
    color: white;
    background-color: #2089e3;
}

.mentorName{
    height: 100%;
    border: none;
    color: white;
    background-color: #2089e35e;
    box-sizing: border-box;
    border: 1px solid #2089e3;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: left center;
    background-image: url('../imgs/search-interface-symbol.png');
    background-position: 9px 10px;
    padding-left: 45px;
}


.mentorName-filter{
    margin-right: 25px;
}

/* ----------- Buttons EDS ------------------------------------ */
.send-btn{
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    line-height: 24px;
    min-width: 75px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    transition: all .3s;
    background-color: #2086e0;
    border: none;
}

.allSend-btn{
    margin-top: 25px;
    align-items: center;
    background-color: #FF5722;
    border: 2px solid #FF5722;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 100%;
}

.edit {
  background-color: #06f;
  border: 2px solid #06f;
}

.edit:hover{
    background-color: #0066ff89;
}

.edit:focus {
  color: #171e29;
}

.edit:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.edit:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.delete {
    background-color: rgb(255, 55, 0);
    border: 2px solid rgb(255, 55, 0);
  }


.delete:focus {
    color: #171e29;
}

.delete:hover {
    background-color: rgb(242 115 81);
    border-color: rgb(242 115 81);
    fill: rgb(242 115 81);
}

.delete:active {
    background-color: rgb(242 115 81);
    border-color: rgb(242 115 81);
    fill: rgb(242 115 81);
}



.save {
    background-color: rgb(84 203 54);
    border: 2px solid rgb(84 203 54);
  }
  
.save:focus {
    color: rgb(115 221 88);
}

.save:hover {
    background-color: rgb(115 221 88);
    border-color: rgb(115 221 88);
    fill: rgb(115 221 88);
}

.save:active {
    background-color: rgb(115 221 88);
    border-color: rgb(115 221 88);
    fill: rgb(115 221 88);
}


.control-btn{
    display: flex;
    width: auto;
}

.control-btn button{
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    line-height: 24px;
    min-width: 75px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    transition: all .3s;
}


.control-btn button{
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;   
}


/* ----------- Total ------------------------------------ */
.totalDiv *{
    font-family: 'Poppins',sans-serif;
}


#monthSelect{
    background: url("../imgs/arrow.png");
    padding: 10px;
    padding-left: 15px;
    color: rgb(0 0 0);
    background-color: #ffffff;
    width: 125px;
    height: 40px;
    margin-bottom: 15px;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 11px;
    background-position: 90px 11px;
    border: 1px solid #0066ff;
    background-color: #0066ff14;


    
}


.totalText{
    font-weight: bold;
    line-height: 24px;
}

.redBold{
    color: red;
}

.totalDiv{
    margin-left: 25px;
    margin-right: 25px;
}

.total:before{
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    width: 100%;
    height: 1px;
    background-color: #0066ff;
}

.total{
    padding-top: 25px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
}

.salary{
    margin-left: 25px;
}

/* ----------- FOOTER ------------------------------------ */



.footer{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    background: linear-gradient( #23a2f6 , #1845ad);
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer p{
    margin-bottom: 15px;
    letter-spacing: 0.7px;
    font-family: 'Poppins',sans-serif;
    color: #fff;
}

.footer p:last-child{
    margin-bottom: 0px;
}

/* ----------- SALARY TABLE ------------------------------------ */

.salary-table{

}



.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .pageContent{
    height: 100vh;
  }


  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  

  